
body{
    padding: 6%;
    margin: auto;
    margin-top: -3%;
    display:table;
    align-items:center;
    justify-content:center;    
    background-color:lightslategray; 
}

fieldset{
    margin: auto;
    padding: 60px;
    align-items: center;
    justify-content:center;
    border-radius: 40px;
    border-style: solid;
}

.inputs{
    padding: 30px;
    margin: auto;
    display:table;
    outline: none;
    font-size: larger;  
    text-align: center;
}

#result{
    padding:20px;
    margin: auto;
    display:table;
    color: black;
    font-size: 18px;
    text-align: center;
}

.button{
    border-style: initial;
    text-align: center;
    cursor: pointer;
    color: whitesmoke;
    background: firebrick;
    border-radius: 15px;
    align-items: center;
    font-size: 22pt;
    padding: 3%;
    margin: auto;
    display:flex;
    align-items:center;
    justify-content:center; 
}

.strings{
    color: whitesmoke;
    font-size: 21px;
    display:flex;
    justify-content:center; 
}